
*.hdb
*.cdb
*.ammdb
*.rcfdb
*.hb_info
*.sig
*.sld
*.rdb
*.ddb
*.tmw_info
*.json
*.logdb
*.sci
*.txt
*.qmsg
*.tdb
*.hsd
*.hier_info
*.hif
*.html
*.bpm
*.kpt
VHDL_files/DDSTesting_2016_04_18/output_files/
VHDL_files/DDSTesting_2016_04_18/incremental_db/
VHDL_files/DDS_FPGA_2015_03_10/db/DDS_RIKEN.cmp.idb
VHDL_files/DDS_FPGA_2015_03_10/DDS_RIKEN_tmp_archive.qarlog
*.tdf
VHDL_files/DDSTesting_2016_04_18/.qsys_edit/filters.xml
VHDL_files/DDSFreqModulation_2016_25_04/output_files/
*.qarlog
VHDL_files/DDSFreqModulation_2016_25_04/incremental_db/
*.flock
*.pyc
VHDL_files/DDS_FPGA_2015_03_10/output_files/
VHDL_files/DDS_FPGA_2015_03_10/incremental_db/
VHDL_files/DDS_FPGA_2015_03_10/db/
VHDL_files/DDSmovinglattice_2016_02_05/db/
Python_files/servers/pulser/hardwareConfiguration.py
Python_files/servers/pulser/test/TestPulseSequence.py
Python_files/servers/pulser/test/plottingtests.py
Python_files/servers/pulser/test/timescript.py
Python_files/servers/pulser/test/timingstest.py
Python_files/servers/pulser/test/timingstest2.py
GUITesting/
Python_files/servers/pulser/test/
*.qpf
Python_files/LaunchServers.bat
Python_files/servers/dummyLABVIEW.py
Python_files/LabRAD-v1.1.3.exe
Python_files/LabRAD.ini
Python_files/servers/registry/
